@import '~react-pdf/dist/esm/Page/AnnotationLayer.css';

.pdf__document {
  background: #f5f5f5;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffff),
    to(#f1f1f1)
  );
  //padding: 12px;
  width: fit-content;
  min-width: 100%;
  overflow: hidden;
  min-height: inherit;
  .react-pdf__Page {
    margin: auto;
    width: fit-content;
    &:not(:last-child) {
      //box-shadow: 0 0 8px rgba(0, 0, 0, .5);
      margin-bottom: 1em;
    }
  }
}
