$white: #ffffff;
$alabaster: #f9f9f9;
$wild-sand: #f5f5f5;
$concrete: #f2f2f2;
$gallery: #ededed;
$silver: #c8c8c8;
$aluminum: #999999;
$gray: #8e8e8e;
$dove-gray: #717171;
$emperor: #505050;
$baltic: #3e3e3e;
$black: #212121;
$red-orange: #f44336;
$chateau-green: #31a148;
$transparent: 'transparent';

// Functional color
$primary: #3498db;
$secondary: #ff4081;
$error: $red-orange;
$body-background: $concrete;
$disabled-background: $concrete;
$text: $emperor;
$sub-text: $dove-gray;
$disabled-text: $gray;
$gray0: $alabaster;
$gray1: $wild-sand;
$gray2: $gallery;
$gray3: $silver;
