$white: #FFFFFF;
$alabaster: #F9F9F9;
$wild-sand: #F5F5F5;
$concrete: #F2F2F2;
$gallery: #EDEDED;
$silver: #C8C8C8;
$aluminum: #999999;
$gray: #8E8E8E;
$dove-gray: #717171;
$emperor: #505050;
$baltic: #3E3E3E;
$black: #212121;
$red-orange: #F44336;
$chateau-green: #31A148;
$transparent: 'transparent';

// Functional color
$primary: #3498DB;
$secondary: #FF4081;
$error: $red-orange;
$body-background: $concrete;
$disabled-background: $concrete;
$text: $emperor;
$sub-text: $dove-gray;
$disabled-text: $gray;
$gray0: $alabaster;
$gray1: $wild-sand;
$gray2: $gallery;
$gray3: $silver;
